GOOGLE_API_KEY=<api_key>
OPENAI_API_KEY=<api_key>

REASON_MODEL_NAME=google_genai:gemini-3.1-flash-lite-preview
CHAT_MODEL_NAME=google_genai:gemini-3.1-flash-lite-preview

LANGFUSE_SECRET_KEY=<secret_key>
LANGFUSE_PUBLIC_KEY=<public_key>
LANGFUSE_BASE_URL="http://langfuse-web:3000"

EVAL_EXPERIMENT_CONCURRENCY=5

MCP_SERVER_URL=http://localhost:8081/mcp
LOOP_LIMIT=5

CHECKPOINTER_DB_NAME=postgres
CHECKPOINTER_DB_USER=postgres
CHECKPOINTER_DB_PASSWORD=postgres
CHECKPOINTER_DB_HOST=postgres
CHECKPOINTER_DB_PORT=5432

TOKEN_LIMIT=4096

AWS_ACCESS_KEY_ID=<aws access key id>
AWS_SECRET_ACCESS_KEY=<aws secrect access key>
AWS_REGION="us-east-1"

BEDROCK_GUARDRAIL_ID=<bedrock guardrail id>
BEDROCK_GUARDRAIL_VERSION=<bedrock guardrail version>
BEDROCK_API_KEY=<bedrock api key>
